@using FalmatazClothing.Models.DTO.MaterialType;
@model MaterialTypeDto

@{
    ViewData["Title"] = "MaterialTypeDetail";
}

<div class="col-md-4">
    <div class="card">
        <div class="card-header">
            @Model.Name
            <div class="card-body">
                <p class="card-text"><strong>Name:</strong>  @Model.Name</p>
                <img src="~/@Model.ImageUrl" alt="Image" style="width: 100px; height: auto;" />
                <a asp-controller="MaterialType" asp-action="UpdateMaterialType"
                   asp-route-id="@Model.Id" class="btn btn-dark">Edit</a>
            </div>
        </div>
    </div>
</div>
