@using FalmatazClothing.Models.DTO.Inventory
@{
    ViewData["Title"] = "CreateInventory";
}
<div class="row">
    <div class="col-md-8 rounded mx-auto border p-3 ">
        <h4 class="text-center">Inventory</h4>
        <p class="text-center">Fill in data</p>
        <form asp-controller="Inventory" asp-action="CreateInventory" enctype="multipart/form-data">

            <div class="mb-3">
                <label class="form-label">Fabric</label>
                <input type="text" class="form-control" name="Fabric" required/>
            </div>

            <div class="mb-3">
                <label class="form-label">Quantity</label>
                <input type="number" class="form-control" name="Quantity" value="" required />
            </div>

            <div class="mb-3">
                <label class="form-label">Price</label>
                <input type="number" class="form-control" name="Price" value=""  required />
            </div>

            <div class="mb-3">
                <label class="form-label">ImageFileName</label>
                <input type="file" class="form-control" name="ImageFileName" multiple required />
            </div>

            <div class="row">
                 <button type="submit">Insert</button>
            </div>
        </form>
    </div>
</div>
