@using FalmatazClothing.Models.DTO.Inventory;
@model InventoryDto;
@{
    ViewData["Title"] = "UpdateInventory";
    var id = Context.GetRouteValue("Id").ToString();
}
}

<div class="row">
    <div class="col-md-8 rounded mx-auto border p-3">
        <h4 class="text-center">UpdateFeed</h4>
        <form asp-controller="Inventory" asp-action="UpdateInventory">

            <div class="mb-3">
                <label class="form-label">Fabric</label>
                <input type="text" name="Fabric" class="form-control" value="@Model.Fabric" required />
            </div>

            <div class="mb-3">
                <label class="form-label">Quantity</label>
                <input type="number" name="Quantity" value="" class="form-control" @Model.Quantity required />
            </div>

            <div class="mb-3">
                <label class="form-label">Price</label>
                <input type="number" class="form-control" name="Price" value="@Model.Price" required />
            </div>

          @*   <div class="mb-3">
                <label class="form-label">ImageFileName</label>
                <input type="number" class="form-control" name="Quantity" value="" required />
            </div> *@

            <div class="row">
                <button asp-controller="Inventory" asp-action="UpdateInventory"
                type="Update" class="btn btn-outline-dark">Update</button>
            </div>
        </form>
    </div>
</div>